@model IEnumerable<Vendas.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<fieldset class="panel-title panel-info">
    <a asp-action="Create">Criar um novo departamento</a>
</fieldset>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
