<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscaSimples">
            <fieldset>
                <legend>
                    Busca Simples
                </legend>
                <div class="form-group">
                    <label for="minData" class="col-lg-2 control-label">Data Minima</label>
                    <div class="col-lg-10">
                        <input type="date" name="minData" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxData" class="col-lg-2 control-label">Data Maxima</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxData" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="BuscarGrupo">
            <fieldset>
                <legend>
                    Busca por Grupo
                </legend>
                <div class="form-group">
                    <label for="minData" class="col-lg-2 control-label">Data Minima</label>
                    <div class="col-lg-10">
                        <input type="date" name="minData" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="maxData" class="col-lg-2 control-label">Data Maxima</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxData" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10">
                        <input type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


